<header>
	<section class="nav-bar">
    <div id="left-half-column" class="half-column">
      <img src="https://en.aptoide.com/static/imgs/aptoide-logo-color.svg" alt="aptoide-logo"/>
      <form name="search-form" class="search-form-nav" role="search" action="{{@site.url}}/search" method="get">
        <div class="nav-search-bar">
          <input type="text" id="search-field" placeholder="Search here...">
          <button type="submit" onClick="document.forms['search-form'].submit();">
            <img id="grey-search-icon" style="width: 24px; height: 24px" src="https://en.aptoide.com/static/imgs/navbar/grey-search-icon.svg"/>
          </button>
        </div>
      </form>
    </div>
    <div id="right-half-column" class="half-column">
      <div class="aptoide-download-container">
        <img style="width: 48px; height: 48px; margin-right: 1rem" src="https://en.aptoide.com/static/imgs/aptoide-logo.svg"/>
        <div class="column">
          <span id="aptoide-apps-download">Aptoide App</span>
          <span id="aptoide-download-quote">Free and unrestricted apps</span>
        </div>
        <div class="download-button" id="aptoide-download-button"> Download </div>
      </div>
    </div>
  </section>
</header>