<aside class="col-xs-12 col-md-4">
	<div class="cp-sidebar">
        {{> widget-qrcode}}
        <div class="posts-divider"></div>
        {{> widget-button}}
        <div class="posts-divider"></div>
		{{> widget-tags}}
        <div class="posts-divider"></div>
        {{> widget-popularposts}}
	</div>
</aside>