<!-- start widget -->
<section class="widget">
	<span><h5>Popular Posts</h5></span>  <br><br>

{{#get "posts" limit="all" filter="featured:true"}}
    {{#foreach posts}}
        <div class="widget-posts-title">
            <a href="{{url absolute="true"}}">{{title}}</a>
        </div>
        <div class="post-content-excerpt-widget">
            {{excerpt words="10"}}...
        </div>
    {{/foreach}}
{{/get}}

</section>
<!-- end widget -->