<!-- start widget -->
<section class="sidebar-widget">
    <span id="popular-posts" class="sidebar-subtitle">Popular Posts</span>
    <div class="widget-posts-title">
        <a href="">alskmadlkasmdlaksdmalksdmalskdma</a>
    </div>
    <span class="post-content-excerpt-widget">
        lakdmsldkasmdlaksmdlaskmdlasmdlaskmdlask
    </span>
    <div class="widget-posts-title">
        <a href="">alskmadlkasmdlaksdmalksdmalskdma</a>
    </div>
    <span class="post-content-excerpt-widget">
        lakdmsldkasmdlaksmdlaskmdlasmdlaskmdlask
    </span>
    {{#get "posts" limit="all" filter="featured:true"}}
        {{#foreach posts}}
            <div class="widget-posts-title">
                <a href="{{url absolute="true"}}">{{title}}</a>
            </div>
            <span class="post-content-excerpt-widget">
                {{excerpt}}
            </span>
        {{/foreach}}
    {{/get}}
</section>
<!-- end widget -->