<!-- start widget -->
<section class="sidebar-widget">
	<span class="sidebar-subtitle">Categories</span>
    <div class="widgets-container">
        <a href="https://blog.aptoide.com/tag/must-have-apps/" class="tags-widget-bubble">
            <span>Must-Have Apps</span>
        </a>
        <a href="https://blog.aptoide.com/tag/aptoide-app-awards/" class="tags-widget-bubble">
            <span>Aptoide App Awards</span>
        </a>
        <a href="https://blog.aptoide.com/tag/giveaway/" class="tags-widget-bubble">
            <span>Giveaways</span>
        </a>
        <a href="https://blog.aptoide.com/tag/aptoide-solutions/" class="tags-widget-bubble">
            <span>Aptoide Solutions</span>
        </a>
        <a href="https://blog.aptoide.com/tag/aptoide-tv/" class="tags-widget-bubble">
            <span>Aptoide TV</span>
        </a>
        <a href="https://blog.aptoide.com/tag/aptoide-vr/" class="tags-widget-bubble">
            <span>Aptoide VR</span>
        </a>
        <a href="https://blog.aptoide.com/tag/meet-the-aptoiders/" class="tags-widget-bubble">
            <span>Meet the Aptoiders</span>
        </a>
        <a href="https://blog.aptoide.com/tag/jobs/" class="tags-widget-bubble">
            <span>Aptoide Jobs</span>
        </a>
        <a href="https://blog.aptoide.com/tag/aptoide-tips-tricks/" class="tags-widget-bubble">
            <span>Aptoide Tips & Tricks</span>
        </a>
    </div>
</section>
<!-- end widget -->