<!-- start widget -->
<section class="widget">
	<span><h5>Categories</h5></span>  <br><br><br>
    {{!--
    {{#get "tags" include="count.posts" order="count.posts desc" limit="9"}}
        {{#foreach tags}}
            <div class="tags-widget-bubble">
                <a href="{{url}}" title="{{name}}" class="tag-sidebar" id="tag-{{slug}}">{{name}}</a>
            </div>
        {{/foreach}}
    {{/get}} 
    --}}
    <div class="tags-widget-bubble">
        <a href="https://blog.aptoide.com/tag/must-have-apps/" title="Meet-the-Aptoiders" class="tag-sidebar" id="tag-must-have-apps">Must-Have Apps</a>
        </div>
    <div class="tags-widget-bubble">
        <a href="https://blog.aptoide.com/tag/aptoide-app-awards/" title="Meet-the-Aptoiders" class="tag-sidebar" id="tag-aptoide-app-awards">Aptoide App Awards</a>
        </div>
    <div class="tags-widget-bubble">
        <a href="https://blog.aptoide.com/tag/giveaway/" title="Meet-the-Aptoiders" class="tag-sidebar" id="tag-giveaway">Giveaways</a>
        </div>
    <div class="tags-widget-bubble">
        <a href="https://blog.aptoide.com/tag/aptoide-solutions/" title="Meet-the-Aptoiders" class="tag-sidebar" id="tag-aptoide-solutions">Aptoide Solutions</a>
        </div>
    <div class="tags-widget-bubble">
        <a href="https://blog.aptoide.com/tag/aptoide-tv/" title="Meet-the-Aptoiders" class="tag-sidebar" id="tag-aptoide-tv">Aptoide TV</a>
        </div>
    <div class="tags-widget-bubble">
        <a href="https://blog.aptoide.com/tag/aptoide-vr/" title="Meet-the-Aptoiders" class="tag-sidebar" id="tag-aptoide-vr">Aptoide VR</a>
        </div>
    <div class="tags-widget-bubble">
        <a href="https://blog.aptoide.com/tag/meet-the-aptoiders/" title="Meet-the-Aptoiders" class="tag-sidebar" id="tag-meet-the-aptoiders">Meet the Aptoiders</a>
        </div>
    <div class="tags-widget-bubble">
        <a href="https://blog.aptoide.com/tag/jobs/" title="Meet-the-Aptoiders" class="tag-sidebar" id="tag-jobs">Aptoide Jobs</a>
        </div>
    <div class="tags-widget-bubble">
        <a href="https://blog.aptoide.com/tag/aptoide-tips-tricks/" title="Meet-the-Aptoiders" class="tag-sidebar" id="tag-aptoide-tips-tricks">Aptoide Tips & Tricks</a>
        </div>
</section>
<!-- end widget -->