<!-- start widget -->
<section class="widget">
    <div class="qrcode-widget-img"><a href="http://m.aptoide.com/installer?utm_source=blog&utm_medium=social&utm_content=blog-qrcode-image-click&utm_campaign=post"><img src="{{asset "images/qrcode.png"}}"></a></div>
    <div class="qrcode-widget"><a href="http://m.aptoide.com/installer?utm_source=blog&utm_medium=social&utm_content=blog-install-aptoide-link-sidebar&utm_campaign=post">Install Aptoide</a> and discover the amazing world of Android Apps</div>
</section>
<!-- end widget -->