<section id="main-body">
	<div class="container">
			<div class="col-xs-12 col-md-8">
                <div class="posts-card">
                    
                        <div class="row">
                                <article class="col-md-12 post-one">
                                    <div class="postone-title">
                                        <h2><a href="" alt="Best Android Games of November" title="Best Android Games of November">Best Android Games of November</a></h2>
                                    </div> 
                                    <br>
                                    <div class="meta-info col-xs-12 col-md-12">
                                        <span class="date">
                                            <i class="fa fa-clock-o"></i>
                                            
                                        </span>
                                        <br>
                                        <span class="comment">
                                            <i class="fa fa-comment"></i>
                                            <a href="#disqus_thread" data-disqus-identifier='ghost-'>Comments</a>
                                        </span>
                                           <div class="tags">Categories </div>
                                    </div>
                                    <div class="post-image col-xs-12 col-md-12">
                                            <a href="" alt="Best Android Games of November" title="Best Android Games of November"><img src="https://blog.aptoide.com/content/images/2022/12/APTOIDE-BLOG_NOV-2022-GOTW_1200X630.png" /></a>
                                        <br>
                                        <div class="post-content-excerpt">
                                        ...
                                        </div>
                                        <a href="" alt="Best Android Games of November" title="Best Android Games of November"><div class="post-content-readmore">Read more</div></a>
                                        
                                    </div> 
                                    

                                </article>
                            </div>
                            <div class="posts-divider"></div>
                    
                    </div>
				</div>
                    <div class="col-xs-12 col-md-4">    
                        <div class="social-media-responsive cp-sidebar">
                            <section class="widget">
                                <span><h5>Social Media</h5></span>  <br><br><br>
                                <a href="https://www.facebook.com/aptoide" target="_blank" title="Facebook"><img src="assets/images/facebook.png" alt="Facebook"></a>
                                <a href="https://www.youtube.com/user/aptoide" target="_blank" title="Youtube"><img src="assets/images/youtube.png" alt="Youtube"></a>
                                <a href="https://twitter.com/aptoide" target="_blank" title="Twitter"><img src="assets/images/twitter.png" alt="Twitter"></a>
                                <a href="https://www.instagram.com/aptoideteam" target="_blank" title="Instagram"><img src="assets/images/instagram.png" alt="Instagram"></a>
                                <a href="https://www.snapchat.com/add/aptoideteam" target="_blank" title="Snapchat"><img src="assets/images/snapchat.png" alt="Snapchat"></a>
                                <a href="https://plus.google.com/+AptoideOfficial" target="_blank" title="Google Plus"><img src="assets/images/google.png" alt="Google Plus"></a>
                            </section>
                        </div>
                    </div>
		</div>
	</div>
</section>