<!DOCTYPE html>
<html lang="en-us">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <link rel="stylesheet" href="assets/css/style.css" />
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="assets/css/normalize.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
        	<section class="nav-bar">
            <div id="left-half-column" class="half-column">
              <img src="https://en.aptoide.com/static/imgs/aptoide-logo-color.svg" alt="aptoide-logo"/>
              <form name="search-form" class="search-form-nav" role="search" action="/search" method="get">
                <div class="nav-search-bar">
                  <input type="text" id="search-field" placeholder="Search here...">
                  <button type="submit" onClick="document.forms['search-form'].submit();">
                    <img id="grey-search-icon" style="width: 24px; height: 24px" src="https://en.aptoide.com/static/imgs/navbar/grey-search-icon.svg"/>
                  </button>
                </div>
              </form>
            </div>
            <div id="right-half-column" class="half-column">
              <div class="aptoide-download-container">
                <img style="width: 48px; height: 48px; margin-right: 1rem" src="https://en.aptoide.com/static/imgs/aptoide-logo.svg"/>
                <div class="column">
                  <span id="aptoide-apps-download">Aptoide App</span>
                  <span id="aptoide-download-quote">Free and unrestricted apps</span>
                </div>
                <div class="download-button" id="aptoide-download-button"> Download </div>
              </div>
            </div>
          </section>
        </header>        <section id="main-body">
        <div class="container">
            <div id="aptoide-small-title-container">
        		<span class="aptoide-blog-title" id="aptoide-small-title">Aptoide official</span>
        		<span class="aptoide-blog-title" id="aptoide-small-blog"> Blog</span>
        	</div>
        	<div class="row">
        		<div class="col-xs-12 col-md-8">
        			<article class="post-article">
        					<header class="post-header">
        						<h2 "post-card-title">Testing title</h2>
        						<div class="container-row" id="published-row">
        							<span class="published-by">Published by </span>
        							<span class="published-by" id="who-published">The Aptoide Team</span>
        							<span id="publish-date">Jun 09, 2022</span>
        						</div>
        						<img class="featured-image" src="https://blog.aptoide.com/content/images/2016/10/app-store-business-model-revenue.jpg" alt="Testing title" title="Testing title" />
        					</header>	
        					<section class="post-content">     
        						  If you’re looking to try out new and exciting games we've got you covered! Each week our editorial team tests out the most downloaded games at Aptoide and looks for those special ones to be featured in our Game of the Week. Here are last month's top downloaded games and just a few reasons why they should be on your "must-try" list of Android apps
        					</section>
        					<div class="post-footer">
        							<div class="container-row">
        							</div>
        						<div id="post-categories" class="container-row">
        							<div class="categories-tag">
        								Android
        							</div>
        							<div class="categories-tag">
        								Android
        							</div>
        							<div class="categories-tag">
        								Android
        							</div>
        						</div>
        						<nav class="posts-pagination">
        							<a href="" title="Back"><img src="assets/images/left-arrow.svg" alt="Back"></a>
        							<a href="" title="Next"><img src="assets/images/right-arrow.svg" alt="Next"></a>				
        						</nav>
        								
        						
        						<section class="post-comments">
        							<div id="disqus_thread"></div>
        							<script type="text/javascript">
        						/**
        						*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        						*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        						
        						var disqus_config = function () {
        						this.page.url = '';  // Replace PAGE_URL with your pages canonical URL variable
        						this.page.identifier =  'ghost-12121';
        						};
        						
        						(function() { // DON'T EDIT BELOW THIS LINE
        						var d = document, s = d.createElement('script');
        						s.src = '//aptoidecommunity.disqus.com/embed.js';
        						s.setAttribute('data-timestamp', +new Date());
        						(d.head || d.body).appendChild(s);
        						})();
        						</script>
        						
        							<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        						</section>						
        					</div>
        			</article>
        	</div>
                 <aside class="col-xs-12 col-md-4">
                 	<div class="cp-sidebar">
                 		<!-- start widget -->
                 		<section class="sidebar-widget">
                 			<span class="sidebar-subtitle">Categories</span>
                 		    <div class="widgets-container">
                 		        <a href="https://blog.aptoide.com/tag/must-have-apps/" class="tags-widget-bubble">
                 		            <span>Must-Have Apps</span>
                 		        </a>
                 		        <a href="https://blog.aptoide.com/tag/aptoide-app-awards/" class="tags-widget-bubble">
                 		            <span>Aptoide App Awards</span>
                 		        </a>
                 		        <a href="https://blog.aptoide.com/tag/giveaway/" class="tags-widget-bubble">
                 		            <span>Giveaways</span>
                 		        </a>
                 		        <a href="https://blog.aptoide.com/tag/aptoide-solutions/" class="tags-widget-bubble">
                 		            <span>Aptoide Solutions</span>
                 		        </a>
                 		        <a href="https://blog.aptoide.com/tag/aptoide-tv/" class="tags-widget-bubble">
                 		            <span>Aptoide TV</span>
                 		        </a>
                 		        <a href="https://blog.aptoide.com/tag/aptoide-vr/" class="tags-widget-bubble">
                 		            <span>Aptoide VR</span>
                 		        </a>
                 		        <a href="https://blog.aptoide.com/tag/meet-the-aptoiders/" class="tags-widget-bubble">
                 		            <span>Meet the Aptoiders</span>
                 		        </a>
                 		        <a href="https://blog.aptoide.com/tag/jobs/" class="tags-widget-bubble">
                 		            <span>Aptoide Jobs</span>
                 		        </a>
                 		        <a href="https://blog.aptoide.com/tag/aptoide-tips-tricks/" class="tags-widget-bubble">
                 		            <span>Aptoide Tips & Tricks</span>
                 		        </a>
                 		    </div>
                 		</section>
                 		<!-- end widget -->        <!-- start widget -->
                         <section class="sidebar-widget">
                             <span id="popular-posts" class="sidebar-subtitle">Popular Posts</span>
                             <div class="widget-posts-title">
                                 <a href="">alskmadlkasmdlaksdmalksdmalskdma</a>
                             </div>
                             <span class="post-content-excerpt-widget">
                                 lakdmsldkasmdlaksmdlaskmdlasmdlaskmdlask
                             </span>
                             <div class="widget-posts-title">
                                 <a href="">alskmadlkasmdlaksdmalksdmalskdma</a>
                             </div>
                             <span class="post-content-excerpt-widget">
                                 lakdmsldkasmdlaksmdlaskmdlasmdlaskmdlask
                             </span>
                         </section>
                         <!-- end widget -->	</div>
                 </aside>    </div>
            
        </div>
           
        </section>        <footer>
        	<div class="container desktop-div">
        		<div class="row">
        			<div class="col-xs-12 col-md-4 footer-col">
        				<img id="aptoide-footer-logo" src="assets/images/aptoide-logo-black.svg"/>
        				<div id="aptoide-text">
        					<span class="aptoide-footer-text">
        						Aptoide is the fastest growing app store and distribution platform in the world. We are a global platform por global talent. Do you want the world? <bold>Let’s play together.</bold>
        					</span>
        				</div>
        				<div id="footer-social-row" class="container-row">
        					<a>
        						<img src="assets/images/facebook_stroke.svg" class="footer-social-icon" />
        					</a>
        					<a>
        						<img src="assets/images/instagram_stroke.svg" class="footer-social-icon" />
        					</a>
        					<a>
        						<img src="assets/images/linkedin_stroke.svg" class="footer-social-icon" />
        					</a>
        					<a>
        						<img src="assets/images/twitter_stroke.svg" class="footer-social-icon" />
        					</a>
        					<a>
        						<img src="assets/images/youtube_stroke.svg" class="footer-social-icon" />
        					</a>
        				</div>
        				<span id="aptoide-rights">
        					©2023 APTOIDE.COM. All rights reserved
        				</span>
        			</div>
        			<div class="col-xs-12 col-md-4">
        				<div class="row">
        					<div class="col-xs-6 col-md-4 footer-col">
        						<a class="footer-main-link">Company</a>
        						<a class="footer-sub-link">About us</a>
        						<a class="footer-sub-link">Careers</a>
        						<a class="footer-sub-link">FAQs</a>
        						<a class="footer-sub-link">Support</a>
        						<a class="footer-main-link">Blog</a>
        						<a class="footer-sub-link">Brand Assets</a>
        						<a class="footer-bottom-link">Legal Informations</a>
        					</div>
        					<div class="col-xs-0 col-md-3 footer-col">
        						<a class="footer-bottom-link">Cookie Policy</a>
        					</div>
        					<div class="col-xs-6 col-md-5 footer-col">
        						<a class="footer-main-link">Aptoide Products</a>
        						<a class="footer-sub-link">Aptoide App Store</a>
        						<a class="footer-sub-link">Catappult - Distribution console</a>
        						<a class="footer-sub-link">Aptoide TV</a>
        						<a class="footer-sub-link">e-Skills - Play-to-earn</a>
        						<a class="footer-sub-link">AppCoins Wallet</a>
        						<a class="footer-bottom-link">Privacy Policy</a>
        					</div>	
        				</div>
        			</div>
        		</div>
        	</div>
        	<div class="container mobile-div">
        		<div class="row">
        			<div class="col-xs-12">
        				<img id="aptoide-footer-logo" src="assets/images/aptoide-logo-black.svg"/>
        				<div id="aptoide-text">
        					<span class="aptoide-footer-text">
        						Aptoide is the fastest growing app store and distribution platform in the world. We are a global platform por global talent. Do you want the world? <bold>Let’s play together.</bold>
        					</span>
        				</div>
        			</div>
        		</div>
        		<div class="row mobile-section">
        			<div class="col-xs-6 footer-col">
        				<a class="footer-main-link">Company</a>
        				<a class="footer-sub-link">About us</a>
        				<a class="footer-sub-link">Careers</a>
        				<a class="footer-sub-link">FAQs</a>
        				<a class="footer-sub-link">Support</a>
        				<a class="footer-main-link">Blog</a>
        				<a class="footer-sub-link">Brand Assets</a>
        			</div>
        			<div class="col-xs-6 footer-col">
        				<a class="footer-main-link">Aptoide Products</a>
        				<a class="footer-sub-link">Aptoide App Store</a>
        				<a class="footer-sub-link">Catappult - Distribution console</a>
        				<a class="footer-sub-link">Aptoide TV</a>
        				<a class="footer-sub-link">e-Skills - Play-to-earn</a>
        				<a class="footer-sub-link">AppCoins Wallet</a>
        			</div>
        		</div>
        		<div class="row mobile-section">
        			<a>
        				<img class="social-icon" src="assets/images/facebook_stroke.svg"/>
        			</a>
        			<a>
        				<img class="social-icon" src="assets/images/instagram_stroke.svg"/>
        			</a>
        			<a>
        				<img class="social-icon" src="assets/images/linkedin_stroke.svg"/>
        			</a>
        			<a>
        				<img class="social-icon" src="assets/images/twitter_stroke.svg"/>
        			</a>
        			<a>
        				<img class="social-icon" src="assets/images/youtube_stroke.svg"/>
        			</a>
        		</div>
        		<div class="row mobile-section">
        			<span id="aptoide-rights">
        				©2023 APTOIDE.COM. All rights reserved
        			</span>
        		</div>
        		<div class="row mobile-section">
        			<a class="footer-bottom-link">Legal Informations</a>
        			<a class="footer-bottom-link">Cookie Policy</a>
        			<a class="footer-bottom-link">Privacy Policy</a>
        		</div>
        	</div>
        </footer>
        <a href="#" id="ScrollToTop"><i class="fa fa-angle-up"></i></a><!-- Scroll to Top -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        
        
        <script src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="assets/js/plugins.js"></script>
        <script type="text/javascript" src="assets/ghostHunter/dist/jquery.ghosthunter.js"></script>
        <script type="text/javascript" src="assets/js/index.js"></script>    </body>
</html>