<!DOCTYPE html>
<html lang="en-us">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <link rel="stylesheet" href="assets/css/style.css" />
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="assets/css/normalize.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
        	<section class="nav-bar">
            <div id="left-half-column" class="half-column">
              <img src="https://en.aptoide.com/static/imgs/aptoide-logo-color.svg" alt="aptoide-logo"/>
              <form name="search-form" class="search-form-nav" role="search" action="/search" method="get">
                <div class="nav-search-bar">
                  <input type="text" id="search-field" placeholder="Search here...">
                  <button type="submit" onClick="document.forms['search-form'].submit();">
                    <img id="grey-search-icon" style="width: 24px; height: 24px" src="https://en.aptoide.com/static/imgs/navbar/grey-search-icon.svg"/>
                  </button>
                </div>
              </form>
            </div>
            <div id="right-half-column" class="half-column">
              <div class="aptoide-download-container">
                <img style="width: 48px; height: 48px; margin-right: 1rem" src="https://en.aptoide.com/static/imgs/aptoide-logo.svg"/>
                <div class="column">
                  <span id="aptoide-apps-download">Aptoide App</span>
                  <span id="aptoide-download-quote">Free and unrestricted apps</span>
                </div>
                <div class="download-button" id="aptoide-download-button"> Download </div>
              </div>
            </div>
          </section>
        </header>        <section id="main-body">
        <div class="container">
            <div id="aptoide-title-container">
                <span class="aptoide-blog-title">Aptoide official</span>
                <span class="aptoide-blog-title" id="blog-title"> Blog</span>
            </div>
        	<div class="row">
        		<div class="col-xs-12 col-md-8">
                        <article class="post-container">
                            <h1 class="post-card-title">Top Games at Aptoide in May</h1>
                            <div class="container-row" id="published-row">
                                <span class="published-by">Published by </span>
                                <span class="published-by" id="who-published">The Aptoide Team</span>
                                <span id="publish-date">Jun 09, 2022</span>
                            </div>
                            <div class="container-row">
                                    <div class="categories-tag">
                                        Android Apss
                                    </div>
                                    <div class="categories-tag">
                                        Android
                                    </div>
                            </div>
                            <div class="post-image">
                                    <a href="" alt="Best Android Games of November" title="Best Android Games of November"><img src="assets/images/mobile.png" /></a>
                            </div>
                            <div class="description-resume">
                                <span>
                                    "If you’re looking to try out new and exciting games we've got you covered! Each week our editorial team tests out the most downloaded games at Aptoide and looks for those special ones to be featured in our ad asd asd a sd asd a wd q wd wsad  asd  wdq wd sa d a d a sd ad sa d as d as da",
                                </span>
                            </div>
                            <div class="container-row" id="read-more">
                                <a href="" class="read-more-anchor">Read More</a>
                            </div>
                        </article>
                        <article class="post-container">
                            <h1 class="post-card-title">Top Games at Aptoide in May</h1>
                            <div class="container-row" id="published-row">
                                <span class="published-by">Published by </span>
                                <span class="published-by" id="who-published">The Aptoide Team</span>
                                <span id="publish-date">Jun 09, 2022</span>
                            </div>
                            <div class="container-row">
                                    <div class="categories-tag">
                                        Android Apss
                                    </div>
                                    <div class="categories-tag">
                                        Android
                                    </div>
                            </div>
                            <div class="post-image">
                                    <a href="" alt="Best Android Games of November" title="Best Android Games of November"><img src="assets/images/mobile.png" /></a>
                            </div>
                            <div class="description-resume">
                                <span>
                                    "If you’re looking to try out new and exciting games we've got you covered! Each week our editorial team tests out the most downloaded games at Aptoide and looks for those special ones to be featured in our ad asd asd a sd asd a wd q wd wsad  asd  wdq wd sa d a d a sd ad sa d as d as da",
                                </span>
                            </div>
                            <div class="container-row" id="read-more">
                                <a href="" class="read-more-anchor">Read More</a>
                            </div>
                        </article>
                    
        		</div>  
                <aside class="col-xs-12 col-md-4">
                	<div class="cp-sidebar">
                		<!-- start widget -->
                		<section class="sidebar-widget">
                			<span class="sidebar-subtitle">Categories</span>
                		    <div class="widgets-container">
                		        <a href="https://blog.aptoide.com/tag/must-have-apps/" class="tags-widget-bubble">
                		            <span>Must-Have Apps</span>
                		        </a>
                		        <a href="https://blog.aptoide.com/tag/aptoide-app-awards/" class="tags-widget-bubble">
                		            <span>Aptoide App Awards</span>
                		        </a>
                		        <a href="https://blog.aptoide.com/tag/giveaway/" class="tags-widget-bubble">
                		            <span>Giveaways</span>
                		        </a>
                		        <a href="https://blog.aptoide.com/tag/aptoide-solutions/" class="tags-widget-bubble">
                		            <span>Aptoide Solutions</span>
                		        </a>
                		        <a href="https://blog.aptoide.com/tag/aptoide-tv/" class="tags-widget-bubble">
                		            <span>Aptoide TV</span>
                		        </a>
                		        <a href="https://blog.aptoide.com/tag/aptoide-vr/" class="tags-widget-bubble">
                		            <span>Aptoide VR</span>
                		        </a>
                		        <a href="https://blog.aptoide.com/tag/meet-the-aptoiders/" class="tags-widget-bubble">
                		            <span>Meet the Aptoiders</span>
                		        </a>
                		        <a href="https://blog.aptoide.com/tag/jobs/" class="tags-widget-bubble">
                		            <span>Aptoide Jobs</span>
                		        </a>
                		        <a href="https://blog.aptoide.com/tag/aptoide-tips-tricks/" class="tags-widget-bubble">
                		            <span>Aptoide Tips & Tricks</span>
                		        </a>
                		    </div>
                		</section>
                		<!-- end widget -->        <!-- start widget -->
                        <section class="sidebar-widget">
                            <span id="popular-posts" class="sidebar-subtitle">Popular Posts</span>
                            <div class="widget-posts-title">
                                <a href="">alskmadlkasmdlaksdmalksdmalskdma</a>
                            </div>
                            <span class="post-content-excerpt-widget">
                                lakdmsldkasmdlaksmdlaskmdlasmdlaskmdlask
                            </span>
                            <div class="widget-posts-title">
                                <a href="">alskmadlkasmdlaksdmalksdmalskdma</a>
                            </div>
                            <span class="post-content-excerpt-widget">
                                lakdmsldkasmdlaksmdlaskmdlasmdlaskmdlask
                            </span>
                        </section>
                        <!-- end widget -->	</div>
                </aside></div>
        </section>        <footer>
        	<div class="container">
        		<div class="row">
        			<div class="col-xs-12 col-md-6">
        				<div class="footer-links">
        					<p>&copy;  APTOIDE.COM. All rights reserved.</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </footer>
        <a href="#" id="ScrollToTop"><i class="fa fa-angle-up"></i></a><!-- Scroll to Top -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        
        
        <script src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="assets/js/plugins.js"></script>
        <script type="text/javascript" src="assets/ghostHunter/dist/jquery.ghosthunter.js"></script>
        <script type="text/javascript" src="assets/js/index.js"></script>    </body>
</html>