<!DOCTYPE html>
<html lang="en-us">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/style-v10.css" />
  </head>
  <body>
    <section id="main-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <div class="posts-card">
              <div class="row">
                <article class="col-md-12 post-one">
                  <div class="postone-title">
                    <h2>
                      <a
                        href=""
                        alt="Best Android Games of November"
                        title="Best Android Games of November"
                        >Best Android Games of November</a
                      >
                    </h2>
                  </div>
                  <br />
                  <div class="meta-info col-xs-12 col-md-12">
                    <span class="date">
                      <i class="fa fa-clock-o"></i>
                    </span>
                    <br />
                    <span class="comment">
                      <i class="fa fa-comment"></i>
                      <a href="#disqus_thread" data-disqus-identifier="ghost-"
                        >Comments</a
                      >
                    </span>
                    <div class="tags">Categories</div>
                  </div>
                  <div class="post-image col-xs-12 col-md-12">
                    <a
                      href=""
                      alt="Best Android Games of November"
                      title="Best Android Games of November"
                      ><img src="assets/images/mobile.png"
                    /></a>
                    <br />
                    <div class="post-content-excerpt">...</div>
                    <a
                      href=""
                      alt="Best Android Games of November"
                      title="Best Android Games of November"
                      ><div class="post-content-readmore">Read more</div></a
                    >
                  </div>
                </article>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="social-media-responsive cp-sidebar">
              <section class="widget">
                <span><h5>Social Media</h5></span> <br /><br /><br />
                <a
                  href="https://www.facebook.com/aptoide"
                  target="_blank"
                  title="Facebook"
                  ><img src="assets/images/facebook.png" alt="Facebook"
                /></a>
                <a
                  href="https://www.youtube.com/user/aptoide"
                  target="_blank"
                  title="Youtube"
                  ><img src="assets/images/youtube.png" alt="Youtube"
                /></a>
                <a
                  href="https://twitter.com/aptoide"
                  target="_blank"
                  title="Twitter"
                  ><img src="assets/images/twitter.png" alt="Twitter"
                /></a>
                <a
                  href="https://www.instagram.com/aptoideteam"
                  target="_blank"
                  title="Instagram"
                  ><img src="assets/images/instagram.png" alt="Instagram"
                /></a>
                <a
                  href="https://www.snapchat.com/add/aptoideteam"
                  target="_blank"
                  title="Snapchat"
                  ><img src="assets/images/snapchat.png" alt="Snapchat"
                /></a>
                <a
                  href="https://plus.google.com/+AptoideOfficial"
                  target="_blank"
                  title="Google Plus"
                  ><img src="assets/images/google.png" alt="Google Plus"
                /></a>
              </section>
            </div>
          </div>
          <aside class="col-xs-12 col-md-4">
            <div class="cp-sidebar">
              <!-- start widget -->
              <section class="widget">
                <div class="qrcode-widget-img">
                  <a
                    href="http://m.aptoide.com/installer?utm_source=blog&utm_medium=social&utm_content=blog-qrcode-image-click&utm_campaign=post"
                    ><img src="assets/images/qrcode.png"
                  /></a>
                </div>
                <div class="qrcode-widget">
                  <a
                    href="http://m.aptoide.com/installer?utm_source=blog&utm_medium=social&utm_content=blog-install-aptoide-link-sidebar&utm_campaign=post"
                    >Install Aptoide</a
                  >
                  and discover the amazing world of Android Apps
                </div>
              </section>
              <!-- end widget -->
              <div class="posts-divider"></div>
              <!-- start widget -->
              <section class="widget">
                <a
                  href="https://en.aptoide.com/?utm_source=blog&utm_medium=social&utm_content=blog-visit-aptoide-button&utm_campaign=post"
                  alt="Visit Aptoide App Store"
                  title="Aptoide"
                  target="_blank"
                  ><div class="visit-aptoide-button">
                    Visit Aptoide App Store
                  </div></a
                >
              </section>
              <!-- end widget -->
              <div class="posts-divider"></div>
              <!-- start widget -->
              <section class="widget">
                <span><h5>Categories</h5></span> <br /><br /><br />
                <div class="tags-widget-bubble">
                  <a
                    href="https://blog.aptoide.com/tag/must-have-apps/"
                    title="Meet-the-Aptoiders"
                    class="tag-sidebar"
                    id="tag-must-have-apps"
                    >Must-Have Apps</a
                  >
                </div>
                <div class="tags-widget-bubble">
                  <a
                    href="https://blog.aptoide.com/tag/aptoide-app-awards/"
                    title="Meet-the-Aptoiders"
                    class="tag-sidebar"
                    id="tag-aptoide-app-awards"
                    >Aptoide App Awards</a
                  >
                </div>
                <div class="tags-widget-bubble">
                  <a
                    href="https://blog.aptoide.com/tag/giveaway/"
                    title="Meet-the-Aptoiders"
                    class="tag-sidebar"
                    id="tag-giveaway"
                    >Giveaways</a
                  >
                </div>
                <div class="tags-widget-bubble">
                  <a
                    href="https://blog.aptoide.com/tag/aptoide-solutions/"
                    title="Meet-the-Aptoiders"
                    class="tag-sidebar"
                    id="tag-aptoide-solutions"
                    >Aptoide Solutions</a
                  >
                </div>
                <div class="tags-widget-bubble">
                  <a
                    href="https://blog.aptoide.com/tag/aptoide-tv/"
                    title="Meet-the-Aptoiders"
                    class="tag-sidebar"
                    id="tag-aptoide-tv"
                    >Aptoide TV</a
                  >
                </div>
                <div class="tags-widget-bubble">
                  <a
                    href="https://blog.aptoide.com/tag/aptoide-vr/"
                    title="Meet-the-Aptoiders"
                    class="tag-sidebar"
                    id="tag-aptoide-vr"
                    >Aptoide VR</a
                  >
                </div>
                <div class="tags-widget-bubble">
                  <a
                    href="https://blog.aptoide.com/tag/meet-the-aptoiders/"
                    title="Meet-the-Aptoiders"
                    class="tag-sidebar"
                    id="tag-meet-the-aptoiders"
                    >Meet the Aptoiders</a
                  >
                </div>
                <div class="tags-widget-bubble">
                  <a
                    href="https://blog.aptoide.com/tag/jobs/"
                    title="Meet-the-Aptoiders"
                    class="tag-sidebar"
                    id="tag-jobs"
                    >Aptoide Jobs</a
                  >
                </div>
                <div class="tags-widget-bubble">
                  <a
                    href="https://blog.aptoide.com/tag/aptoide-tips-tricks/"
                    title="Meet-the-Aptoiders"
                    class="tag-sidebar"
                    id="tag-aptoide-tips-tricks"
                    >Aptoide Tips & Tricks</a
                  >
                </div>
              </section>
              <!-- end widget -->
              <div class="posts-divider"></div>
              <!-- start widget -->
              <section class="widget">
                <span><h5>Popular Posts</h5></span> <br /><br />
              </section>
              <!-- end widget -->
            </div>
          </aside>
        </div>
      </div>
    </section>
  </body>
</html>
